.main{
    background: rgb(40, 39, 39);
    padding: 10px;
}

.main .card{
    /* padding:10px; */
    margin:10px;
}

.userDescription{
    list-style:none;
    padding:0px;

}

.userDescription li{
    color:rgb(94, 91, 91)
}

.userList{
    list-style:none;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    padding:0px
}

.card .ant-card-actions{
    background-color: rgba(130, 127, 127, 0.095);
}